# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: U.S. Web Design System + USWDS Gulp + Jekyll
description: > # this means to ignore newlines until "baseurl:"
  A boilerplate for building prototypes and static sites with
  the U.S. Web Design System, USWDS Gulp, and Jekyll. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock

# We specify the directory for Jekyll so we can use @imports.
sass:
  sass_dir: assets/stylesheets/
  style: compressed

exclude:
  - /node_modules/
  - gulpfile.js
  - Gemfile
  - Gemfile.lock
  - npm-debug.log
  - /css
  - /screenshots
  - /sketch-files
