<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" type="image/x-icon" href="{{ relative }}assets/img/favicons/favicon.ico" />

{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<link rel="stylesheet" href="{{ relative }}assets/stylesheets/application.css">

<meta name="robots" content="noindex">
