/*
----------------------------------------
CSS FOR THE DEMO PAGE
You can delete this file and its containing
folder (demo) when you start your project.
----------------------------------------
*/

body {
	background-color: color($theme-color-primary-darker);
}

.demo-container {
	display: grid;
	height: 100vh;
	justify-content: center;
	align-content: center;
	color: color($theme-color-accent-cool-lighter);
}
